@model IEnumerable<COMP2007_S2016_Lesson8_Lab4_2.Models.Enrollment>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-offset-2 col-md-7">
        <h2>@ViewBag.SubTitle</h2>

        <p>
            @*@Html.ActionLink("Create New", "Create")*@
            <a href="@Url.Action("Create","Enrollments")" class="btn btn-success"><i class="fa fa-plus fa-lg"></i> Add Enrollment</a>
        </p>
        <table class="table table-striped table-hover table-bordered table-condensed">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Cours.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Student.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Grade)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cours.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Student.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Grade)
                    </td>
                    <td>
                        @*@Html.ActionLink("Edit", "Edit", new { id=item.EnrollmentID })*@
                        <a href="@Url.Action("Edit","Enrollments", new { id=item.EnrollmentID })" class="btn btn-warning"><i class="fa fa-edit fa-lg"></i> Edit</a>
                        @*@Html.ActionLink("Details", "Details", new { id=item.EnrollmentID })*@
                        <a href="@Url.Action("Details","Enrollments", new { id=item.EnrollmentID })" class="btn btn-primary"><i class="fa fa-eye fa-lg"></i> Details</a>
                        @*@Html.ActionLink("Delete", "Delete", new { id=item.EnrollmentID })*@
                        <a href="@Url.Action("Delete","Enrollments", new { id=item.EnrollmentID })" class="btn btn-danger"><i class="fa fa-trash-o fa-lg"></i> Delete</a>
                    </td>
                </tr>
            }

        </table>
    </div>
</div>